<form action="/new" method="POST">
  <h2>New Message</h2>
  <label for="messageName">Name:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="messageText">Message:</label>
  <input type="text" id="text" name="text"><br><br>
  <input type="submit" value="Submit">
</form>