<head>
  <title>Message Details</title>
</head>
<body>
  <h2>Message Details</h2>
  <p>User: <%= message.user %></p>
  <p>Message: <%= message.text %></p>
  <p>Added: <%= message.added.toLocaleString() %></p>
  <a href="/">Back to homepage</a>
</body>
</html>